<h1>Dragon Ball Z </h1>

<hr>

<div class="row">

    <div class="col">
        <app-characters [characters]="characters"></app-characters>
    </div>

    <div class="col">
        <h3>New</h3>
        <hr>

        <form (ngSubmit)="add();">
            <input type="text" placeholder="name" name="name" [(ngModel)]="new.name"/>
            <input type="number" placeholder="power level" name="powerLevel" [(ngModel)]="new.powerLevel"/>
            <button>
                Add
            </button>
        </form>
    </div>
</div>